page-auth {
	ion-grid {
		height: 100%;
		// background-color: red;
		padding: 0;
	}
	ion-row {
		// background-color: green;
		align-items: center;
		text-align: center;

		height: 100%;
		width: 100%;
	}
}
